@model SliderImage
@{
    ViewData["Title"] = "Details";
}

<div class="card flex-column align-items-center m-auto" style="width: fit-content; padding: 30px;">
    <img class="card-img-top" src="~/img/@Model.Name" alt="Card image cap" style="max-width: 900px">
</div>

