@model Category
@{
    ViewData["Title"] = "Details";
}

<div class="card text-white bg-dark">
    <h5 class="card-header bg-success" style=" padding: 20px 30px">@Model.Name</h5>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
</div>
