@model Product
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input class="form-control text-white " placeholder="Product Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Photo" type="file" class="file-upload-default " id="uploadImg">
                        <div class="input-group col-xs-12">
                            <button class="file-upload-browse btn btn-primary" type="button" id="uploadBtn">Upload Photo</button>
                        </div>
                        <img class="card-img-top imgUploaded d-none" src="" alt="Card image cap" style="max-width: 200px">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input class="form-control text-white " placeholder="Description" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input type="number" class="form-control text-white " placeholder="Price" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group" data-select2-id="7">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name)))" class="js-example-basic-single select2-hidden-accessible"  style="width:100%" data-select2-id="1" tabindex="-1" aria-hidden="true">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-dark" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
    <script>
        $(document).ready(function () {
            $("#uploadBtn").click(function myfunction() {
                 $("#uploadImg").click();
            })
            $("#uploadImg").change(function (e) {
                const { files } = e.target

                for (const file of files) {
                    const fileReader = new FileReader()

                    fileReader.onloadend = function (e) {
                        const { result } = e.target
                        $(".imgUploaded").removeClass("d-none")
                        $(".imgUploaded").attr("src", result);
                    }
                    fileReader.readAsDataURL(file)
                }
            })
        });
    </script>
}