@model List<IdentityRole>

@{
    ViewData["Title"] = "ChangeRole";

}

<div class="row justify-content-center">
    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product</h4>
                <div asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post">
                    <select class="form-select" name="role" id="role">
                        @foreach (var role in Model)
                        {
                            if (role.Name == ViewBag.CurrentRole)
                            {
                                <option value="@role.Name" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Name">@role.Name</option>
                            }

                        }
                    </select>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-dark" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

